---
---

$almost-white: #f9fafb;
$light-grey: #f1f1f3;
$ink-blue: #39393F;
$bright-red: #e7472f;
$light-ink-blue: #bcd1e5;

$white: #ffffff;
$silver: #F3F7FA;
$yellow: #F5CF35;
$blue: #738BDB;
$cadmio: #EB4C15;
$dark-purple: #291924;

html, body{
  height: 100%;
}
body{
  background-color: $silver;
  color: $dark-purple;
  font-family: Poppins, sans-serif;
  font-size: 13px;
}

.the-bait{
    position: absolute;
    top: -25px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    z-index: 23;
    background: rgb(230,83, 34);
    height: 50px;
    color: $white; 
    border-bottom: 1px solid rgb(106,40,25);
    line-height: 50px;
    text-align: center;

    &:hover{
      background: $dark-purple;
    }

    > .arrow{
      display: inline-block;
      border: 1px solid white;
      line-height: 25px;
      width: 25px;
      border-radius: 50px;
      margin-left: 15px;
      background: $dark-purple;
      height: 25px;
    }
  }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


@import "_layouts/page", "_layouts/index";
@import "_includes/nav", "_includes/footer";
