body{}

body.index{
  h1{
    font-size: 18rem;
    line-height: .8;
    mix-blend-mode: multiply;
    color: #ec5522;
    
  }

  .page{
    min-height: 90%;

    &.no-padding{
      min-height: auto;
    }
  }
  .svg-wrapper{
    position:absolute;
    top:0;
    bottom:0;
    left: 250px;
    right: 0;
  }
  svg{
    // background: #f0F0f0;
  }

  #index-title{
        position: absolute;
    right: 0;
    left: 150px;
    overflow: hidden;
    pointer-events: none;
  }


  .links line {
    stroke: $ink-blue;
    stroke-opacity: 0.3;
    stroke-width: 1px;
    &.on{
      stroke-opacity: 1;
    }
  }

  .nodes {
    image{
      pointer-events: none;
    }
    circle {
      transition: transform, .17s ease-in-out;
    
      stroke: $ink-blue;
      fill: $cadmio;
      stroke-width: 0px;

      
    }

    circle, .project circle, .partner circle{
      &.whoosh{
        transition: transform, .17s ease-in-out;
        fill: $white;
      }
    }

    g {
      text{
        pointer-events:none;
        display:none;
      }
      &.on text{
        display: block;
      }
    }

    g:hover{
      text{
        display: block;
      }
      circle {
        transform: scale(1.15);
      }
      .whoosh{
        transform: scale(5);
      }
    }
    .project circle{
      stroke-width: 0px;
      fill: $dark-purple;
    }

    .partner circle{
      stroke-width: 0px;
      fill: #848490;
    }
  }

}