body{}

body.index{
  h1{
    font-size: 18rem;
    line-height: .8;
    mix-blend-mode: multiply;
    color: $cadmio;
    
  }

  #index-title{
        position: absolute;
    right: 0;
    left: 150px;
    overflow: hidden;
    pointer-events: none;
  }
}