---
layout: default
---



<div class='page'>
  <div class='container'>
    <div id='index-title'><h1>{{site.title}}</h1></div>
    
  </div>
  <div class='svg-wrapper'>
    <svg id="svg-graph" width="100" height="100"></svg>

    <div id="svg-snippet">hey! it lookslike you find it ;)</div>
  </div>
</div>

<div class='page no-padding'>
  <div class='the-bait'>
    <span>view video</span><span class='arrow animated infinite bounce'>&darr;</span>
  </div>
  <img src='https://i.vimeocdn.com/video/25647020_295x166.jpg' style='width:100%'>
</div>

<script src="{{ '/assets/js/doT.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/d3.custom.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/graph.js' | relative_url }}"></script>

<script>

document.addEventListener("DOMContentLoaded", function(e) {

  console.log('test DOMContentLoaded');


  d3.json("{{"/assets/data/graph.json"| relative_url }}").then(function(graph) {
    _log('graph loaded')
    
    var nodes_in = {}

    graph.links = graph.links.filter(function(d){
      nodes_in[d.source] = true
      nodes_in[d.target] = true
      return d._id;
    })

    // filter out not connected nodes
    graph.nodes = graph.nodes.filter(function(d){
      return d.id && nodes_in[d.id];
    })

    // resize the canvas to fill browser window dynamically
    var m = new M({
      svg: '#svg-graph'
    });

    m.dispatcher.on('onclicknode', function(d){
      _log('start',arguments);
    })

    m.update(graph)
  }).catch(function(error){
    if (error) throw error;
  });
})

</script>